* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 0px;
    -webkit-text-size-adjust: none;
    font-family: "Microsoft YaHei";
    background-color: #e8e8e8;
    font-size: 14px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

form {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.clearfix {
    zoom: 1;
}

.header {
    border: 0;
    background-color: #00a2c9;
    height: 6em;
}

.title {
    font-size:24px;
    padding-left:22px;
    color:white;
    line-height:90px;
}

.col-md-7 {
    width: 58.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.member-wrap {
    margin: 0;
    background-image: url("../images/login_bg.png");
    background-color: #144768;
    background-repeat: no-repeat;
    min-height: 560px;
}

.member-wrap .member-div {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    min-height: 1px;
}

.member-wrap .member-con {
    background-color: #fff;
    margin: 70px 20px 0px 40px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: 360px;
}

.member-hd {
    height: 50px;
}

.member-wrap .member-hd .member-hd-tab.cur {
    border-bottom: #19639d solid 1px;
}

.member-wrap .member-hd .member-hd-tab {
    width: 100%;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    float: left;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-bottom: #ccc solid 1px;
}

.member-wrap .member-bd {
    padding: 30px;
    padding-bottom: 50px;
    height: 280px;
}

.input-group-addon:first-child {
    border-right: 0;
}

.fa-user:before {
    content: "\f007";
}

.fa-lock:before {
    content: "\f023";
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

i.fa.fa-lock {
    display: table-cell;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input, textarea {
    outline: none;
}

.member-wrap .member-bd-tab .btn {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
